[project]
name = "uv-notebook"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "matplotlib>=3.10.1",
    "numpy>=2.2.4",
]

[dependency-groups]
dev = [
    "ipykernel>=6.29.5",
]
